extends _includes/_layout.pug
include _includes/_meta.pug
include _includes/_item.pug

block var
  - metas = json;
  -
    var datas = [
      {
        num:'01',
        ttl:'GRIGLIA<br>×<br>WHITE COORDINATE',
        link:'/s/brand/hirokohayashi/search?st=1&un=fku&link_id=709_H_search&fr=GRIGLIA',
        txt:'ともすると、気の抜けたスタイリングになりがちな<br>白のスタイリングを格上げする"GRIGLIA"。<br>メッシュの透け感で涼し気に見えるだけでなく、<br>適度な緊張感を与えてくれます。',
        reco:'メッシュ越しに見える小物もお洒落に遊ぶ',
        items:[
          {
            link:'/brand/hiroko-hayashi/item/BR70999A1198?areaid=sp709_hiroko&wid=70921371&clr_id=101',
            name:'GRIGLIA HAND BAG',
            price:'¥27,500',
            type:'is-nor',
          },
          {
            link:'/brand/hiroko-hayashi/item/BR70999A1199?areaid=sp709_hiroko&wid=70921372&clr_id=102',
            name:'GRIGLIA<br>TOTE BAG',
            price:'¥30,800',
            type:'is-rev',
          },
        ],
      },
      {
        num:'02',
        ttl:'OSSO VIVO PUNTI<br>×<br>BLOUSE STYLE',
        link:'/s/brand/hirokohayashi/search?st=1&un=fku&link_id=709_H_search&fr=OSSO+VIVO+PUNTI',
        txt:'ゆとりと緊張感、両方叶えるブラウスのスタイリングは遊びと実用を兼ね備えた"OSSO VIVO PUNTI"がおすすめ。<br>レザーの重さを感じさせない、清涼なミントグリーンがアクセサリーの延長的に活躍します。',
        reco:'日差しの下でもさらりと持てる寒色カラー',
        items:[
          {
            link:'/brand/hiroko-hayashi/item/BR70999A1189?areaid=sp709_hiroko&wid=70921153&clr_id=103',
            name:'OSSO VIVO PUNTI<br>SHOULDER BAG',
            price:'¥61,600',
            type:'is-ver',
          },
          {
            link:'/brand/hiroko-hayashi/item/BR70999A1190?areaid=sp709_hiroko&wid=70921154&clr_id=103',
            name:'OSSO VIVO PUNTI<br>HAND BAG',
            price:'¥72,600',
            type:'is-rev',
          },
        ],
      },
      {
        num:'03',
        ttl:'OTTICA blue<br>×<br>T-SHEETS&DENIM',
        link:'',
        txt:'王道なデニムコーディネートこそ、バッグで遊べば手軽にイメージチェンジが叶います。<br>グラフィカルなパターンの"OTTICA blue"なら辛口から離れすぎず、抜け感ときちんと感のバランスをとってくれます。',
        reco:'1つは持っていたいロングセラー「OTTICA」',
        items:[
          {
            link:'/brand/hiroko-hayashi/item/BR70999A1197?areaid=sp709_hiroko&wid=70921047&clr_id=101',
            name:'OTTICA<br>SHOULDER BAG',
            price:'¥49,500',
            type:'is-rev',
          },
          {
            link:'/item/BR70999A1216',
            name:'OTTICA<br>HAND BAG',
            price:'¥55,000',
            type:'is-nor',
          },
        ],
      },
    ];

    var staffs = [
      {
        link:'/s/brand/hirokohayashi/staff_detail/index.html?user_id=55117',
        name:'U',
        height:'161cm',
      },
      {
        link:'/s/brand/hirokohayashi/staff_detail/index.html?user_id=55113',
        name:'NICHI',
        height:'150cm',
      }
    ]

block meta
  +meta(metas.site)

block append font
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;600&display=swap" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;500;600&display=swap" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap")

block append link
  //- link(rel="stylesheet" href="https://portfolio-technics.com/sample/0-css/style.css")
  link(href=`/pc/css/bagstyle.css?${Date.now()}` rel='stylesheet' type='text/css')

block append script
  script(type="text/javascript" src=`/pc/js/bagstyle.js?${Date.now()}`)
  
block append plugin
  // slick
  link(rel="tylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css")
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")
  // lenis
  script(src="https://unpkg.com/@studio-freight/lenis@1.0.34/dist/lenis.min.js")
  // gsap
  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js")

block content
  artilce.bagstyle
    .bagstyle__main
      h2
        span SUMMER
        span BAGS
        span WITH
        span MONOTONE
      img(src="/_img/pc/pc_mv.jpg", alt="", class="is-pc")(m:id="IF:VIEW_PC")
      img(src="/_img/pc/sp_mv.jpg", alt="", class="is-sp")(m:id="IF_NOT:VIEW_PC")
    .bagstyle__txt
      p 太陽が照りつける季節、<br>いま必要なのは軽く涼しく、ゆるくないバッグ。
      p ただシンプルなだけではなく、持つだけで全体を引き締め、適度にカジュアルを格上げしてくれるヒロコ ハヤシの夏バッグ。コーディネート全体の甘さをおさえたモノトーンスタイルを軸に、シンプルな装いの感度を高める、夏に持ちたいバッグをご紹介します。
    .bagstyle__cnt
      each data , i in datas
        sectioin.sc
          p.sc__no !{data.num}
          h3.sc__ttl !{data.ttl}
          .sc__img
            a(href=`${data.link}`) 
              img(src=`/_img/pc/sc${i+1}.jpg`, alt="")
          .sc__txt
            p !{data.txt}
          .sc__items
            each item, j in data.items
              .sc-it(class=`${item.type}`)
                .sc-it__img
                  a(href=`${item.link}`)
                    img(src=`/_img/pc/it${i+1}-${j+1}.jpg`, alt="")
                .sc-it__credit
                  .sc-credit
                    p.sc-credit__name !{item.name}
                    p.sc-credit__price !{item.price}
                    .sc-credit__btn
                      a(href=`${item.link}`) BUY 
          .sc__recommend.sc-recommend
            p.sc-recommend__ttl RECOMMEND
            .sc-recommend__cnt
              .list_search-result
                //- - for(var z = 0; z < 8; z++)
                //-   +item()

    .bagstyle__btn
      a(href="/s/brand/hirokohayashi/search?st=1&un=fku&it=WK01,WK02,WK03,WK04,WK05,WK06,WK07,WK08") BAG VIEW ALL

    .bagstyle__other
      section.others-area
        h3.others-area__ttl OTHERS
        .others-area__img
          img(src="/_img/pc/other.jpg", alt="")
        p.others-area__txt FABREと同じモチーフ「地球から飛び出した太陽」の<br class="is-sp">刺繍を施したポーチが登場。<br>バッグを持つ手元を彩るアクセサリーと共に、<br class="is-sp">小さなアイテムも合わせてチェック。
        .others-area__cnt
          .list_search-result
            //- - for(var i = 0; i < 8; i++)
            //-   +item()

    .bagstyle__staff.bagstyle-staff
      p.bagstyle-staff__ttl MODEL STAFF
      .bagstyle-staff__cnt
        each staff, i in staffs
          .staff-it
            a(href=`${staff.link}`).staff-it__link
              .staff-it__img
                img(src=`/_img/pc/staff${i+1}.jpg`, alt="")
              p.staff-it__name !{staff.name}
              p.staff-it__height !{staff.height}
              .staff-it__shop
                p HIROKO HAYASHI
                p 新宿小田急ヒロコハヤシ
